@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my page (Brayan) Wiju!</h1>
    <p>Learn with Brayan <a href="https://www.youtube.com/channel/UCuvq-l94LVPqSZQnv8Lop4Q">building Web apps with ASP.NET Core</a>.</p>
</div>
